nav{
    display: flex;
    justify-content:space-between;
    height: 50px;
    background-color: rgb(2, 0, 139);
    margin: 0;
}

nav .title {
    font-size: 20px;
    font-weight: bolder;
    color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .manu-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

nav .manu-trigger .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .manu-trigger .menu .item {
    width: 50px;
    margin: 5px;
    color: white;
}


@media (max-width:500px) {
    nav .manu-trigger .menu {
        background-color: black;
    }
}